<!--
 Created with Webformgenerator by easyclick.ch
 www.easyclick.ch
 -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Srutin | The Dog Files Search Engine</title>
    <!-- Loading Bootstrap -->
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Loading Flat UI -->
    <link href="css/flat-ui.css" rel="stylesheet">
</head>
<body>
<div class="container">
<div class="row">
    <div class="col-xs-2">
    </div>
    <div class="col-xs-8">
        <div class="logo" id="logo" style="background: url(images/logo.png);width:244px;height:60px;margin:30% auto 20px auto"></div>
        <div class="form-group" style="margin: auto" id="form">
	        	<input type="text" value="" id="search" placeholder="a word once files everywhere...." class="form-control">

                <span class="input-icon" style="margin:0;padding-right: 0px;right: 0px;top: 0px;border-radius:0 6px 6px 0">
                    <div class="btn-group select select-block" style="margin-bottom:0;width:100px">
                        <button class="btn dropdown-toggle clearfix btn-primary" data-toggle="dropdown" style="border-radius:0 4px 4px 0">
                            <span class="filter-option pull-left" id="show-ext">. pdf</span>&nbsp;<span class="caret"></span>
                        </button>
                        <span class="dropdown-arrow dropdown-arrow-inverse"></span>
                        <ul class="dropdown-menu dropdown-inverse" role="menu" style="overflow-y: auto; min-height: 108px; max-height: 185px;">
                            <li class="selected">
                                <a tabindex="-1" href="#" class="active" id="extension" data-ext="pdf"><span class="pull-left">PDF File</span></a>
                            </li>
                            <li class="">
                                <a tabindex="-1" href="#" class="" id="extension" data-ext="doc"><span class="pull-left">DOC File</span></a>
                            </li>
                            <li >
                                <a tabindex="-1" href="#" class="" id="extension" data-ext="ppt"><span class="pull-left">PPT File</span></a>
                            </li>
                            <li >
                                <a tabindex="-1" href="#" class="" id="extension" data-ext="exe"><span class="pull-left">EXE File</span></a>
                            </li>
                            <li >
                                <a tabindex="-1" href="#" class="" id="extension" data-ext="apk"><span class="pull-left">Android Apps</span></a>
                            </li>
                            <!--<li>
                                <a tabindex="-1" href="#" class=""><span class="pull-left">ADD Option</span></a>
                            </li>-->
                        </ul>
                    </div>
                </span>

        </div>
    </div>
    <div class="col-xs-2">
        <!--<a href="#" style="margin-top:16px"><span class="fui-gear" ></span> Setting</a>-->
    </div>
</div>

<div class="row">
    <div class="col-xs-1">
    </div>
    <div class="col-xs-10">
        <div id="result" class="col-xs-12" style="margin-top:30px"></div>
    </div>
    <div class="col-xs-1">
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!--<div class="row">
        <div class="col-xs-3">

     <form action="/search" class="TTWForm" method="post" novalidate="" style="margin:10px auto">


          <div id="field1-container" class="field f_100">
               <label for="field1">
                    Query
               </label>
               <input type="text" name="q" id="field1" placeholder="Ex : Maria Ozawa" required="required">
          </div>


          <div id="field2-container" class="field f_50">
               <label for="field2">
                    Advance Query
               </label>
               <input type="text" name="aq" id="field2" placeholder="Ex : diktat+bahan ajar+modul">
          </div>


          <div id="field3-container" class="field f_50">
               <label for="field3">
                    File Type
               </label>
               <select name="ftype" id="field3" required="required">
                    <option id="field3-1" value="pdf">
                         pdf
                    </option>
                    <option id="field3-2" value="doc">
                         doc
                    </option>
                    <option id="field3-3" value="docx">
                         docx
                    </option>
                    <option name="field3" id="field3-4" value="ppt">
                         ppt
                    </option>
               </select>
          </div>


          <div id="field4-container" class="field f_50">
               <label for="field4">
                    Quantity Page
               </label>
               <select name="page" id="field4" required="required">
                    <option id="field4-1" value="1">
                         1
                    </option>
                    <option id="field4-2" value="2">
                         2
                    </option>
                    <option id="field4-3" value="3">
                         3
                    </option>
                    <option name="page" id="page-4" value="4" selected>
                         4
                    </option>
               </select>
          </div>


          <div id="form-submit" class="field f_100 clearfix submit">
               <input type="submit" value="Search">
          </div>
     </form>
    </div>
    </div>

</div>-->
<!-- Load JS here for greater good =============================-->
    <script src="js/jquery-1.8.3.min.js"></script>
    <script src="js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="js/jquery.ui.touch-punch.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap-select.js"></script>
    <script src="js/bootstrap-switch.js"></script>
    <script src="js/flatui-checkbox.js"></script>
    <script src="js/flatui-radio.js"></script>
    <script src="js/jquery.tagsinput.js"></script>
    <script src="js/jquery.placeholder.js"></script>
    <script src="js/jquery.stacktable.js"></script>
    <script src="http://vjs.zencdn.net/4.3/video.js"></script>
    <script src="js/application.js"></script>

<script>
$(document).ready(function(){
    var pussy = window.location.href.split("#");
    var extn = "pdf";
    var doggy_style = function(query,extn){
      $("#logo").hide();
      $("#form").css({"margin-top":"10px"});
      var result = $('#result');
      $.ajax({
          url : '/search',
          data : "q="+query+"&page=0&ftype="+extn,
          type : 'POST',
          dataType : 'json',
          timeout : 15000,
          beforeSend : function(){
              result.html('<center><img src="/images/loader.gif"></center>');
          },
          success : function(data){
              console.log(data);
              var html = "<ul style='list-style-type: none;'>";
              $.each(data,function(){
                  html += '<li><a target="__blank" href="'+this.link+'">'+this.title+'</a><a target="__blank" href="'+this.link+'" style="float:right">[download]</a></li>';
              });
              //html += "<li><center><a>more</a></center></li>";
              html += "</ul>";
              result.html(html);
          },
          error : function(){
              result.html('<center>sory no data</center>');
          }
      });
    }

    if(pussy.length == 2){
      var pussy_oh = pussy[1].split(".");
      if(pussy_oh.length == "2"){
        var query= pussy_oh[0];
        var extn = pussy_oh[1];
        doggy_style(query,extn);
        $('input#search').val("query");
        $("#show-ext").text(". "+extn)
      }
    }

    $("#extension span").click(function(){
      var data = $(this).parent().attr('data-ext');
      $(".active").removeClass("active");
      $(".selected").removeClass("selected");
      $(this).parent().addClass("active");
      $(this).parent().parent().addClass("selected");
      $("#show-ext").text(". "+data)
      extn = data;
      if($('input#search').val() != ""){
        var query = $('input#search').val();
        doggy_style(query,extn);
      }
    });

    $(window).bind("beforeunload", function() {
        return "Ohhhhh... yessss....";
    });

    $('input#search').on('keydown',function(ev) {
        if(ev.which === 13) {
            var query = $('input#search').val();
            doggy_style(query,extn);
            return false;
        }
    });
});
</script>
<!--google analityc-->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-54551225-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>
